:root {
  --main-pink: #f76f8d;
  --container-margin-left: 1.25rem;
  --logo-height: 9.375rem;
  --logo-width: 9.375rem;
  --logo-font-size: 1.75em;
  --container-content-menu-width: 11.875rem;
  --menu-container-height: 26.875rem;
  --menu-container-padding-top: 3.125rem;
  --menu-element-margin: 0 0 1.25rem 1.25rem;
  --menu-element-height: 3.125rem;
  --menu-element-style-font-size: 1.25em;
  --container-content-main-width: calc(100% - 12.5rem);
  --container-content-main-margin-left: 3.125rem;
  --main-header-height: 31.25rem;
  --header-container-text-height: 7.8125rem;
  --header-text-style-margin-left: 4.375rem;
  --header-text-style-font-size: 3.125em;
  --header-jumbotron-height: 12.5rem;
  --header-jumbotron-style-font-size: 1.875em;
  --main-email-block-height: 6.25rem;
  --email-in-margin: 0 0 0 0.3125rem;
  --info-block-width: 12.5rem;
  --info-block-padding: 1.25rem;
  --info-title-font-size: 1.875em;
  --footer-link-style-font-size: 1.125em;
  --footer-info-rights-font-size: 0.8125em;
  --footer-social-icon-width: 2.5rem;
  --footer-social-icon-height: 2.5rem;
  --footer-social-icon-margin-right: 1.25rem;
}

.container {
  min-width: 20rem;
  margin-left: var(--container-margin-left);
  margin-right: 0.625rem;
}

.container-content {
  display: flex;
  height: calc(100% - 12.5rem);
}

.container-content-menu {
  width: var(--container-content-menu-width);
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--logo-width);
  height: var(--logo-height);
  border-radius: 50%;
  margin: 1.25rem;
  background-color: var(--main-pink);
  color: white;
  font-size: var(--logo-font-size);
}

.menu-container {
  height: var(--menu-container-height);
  padding-top: var(--menu-container-padding-top);
  background-color: var(--main-pink);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-element {
  display: flex;
  align-items: center;
  height: var(--menu-element-height);
  margin: var(--menu-element-margin);
}

.menu-element-img {
  width: 3.125rem;
  height: 3.125rem;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  background-image: url('./images/home.png');
}

.stuff {
  background-image: url('./images/stuff.png');
}

.picture {
  background-image: url('./images/picture.png');
}

.about {
  background-image: url('./images/about.png');
}

.menu-element-style {
  margin-left: 0.625rem;
  color: white;
  font-size: var(--menu-element-style-font-size);
  text-decoration: none;
}

.menu-element:hover {
  cursor: pointer;
}

.menu-element:hover .menu-element-style {
  font-weight: bold;
}

.container-content-main {
  width: var(--container-content-main-width);
  margin-left: var(--container-content-main-margin-left);
}

.main-header {
  height: var(--main-header-height);
  background-image: url(./images/venice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container-text {
  display: flex;
  align-items: flex-end;
  height: var(--header-container-text-height);
}

.header-text-style {
  margin-left: var(--header-text-style-margin-left);
  color: white;
  font-size: var(--header-text-style-font-size);
}

.header-jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: var(--header-jumbotron-height);
}

.header-jumbotron-style {
  color: white;
  font-size: var(--header-jumbotron-style-font-size);
  text-transform: uppercase;
}

.main-email-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--main-email-block-height);
}

.email-in {
  margin: var(--email-in-margin);
}

.email-button {
  border-radius: 0.3125rem;
}

.main-info-container {
  display: flex;
  justify-content: space-between;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: var(--info-block-width);
  padding: var(--info-block-padding);
  border: 0.0625rem solid black;
}

.info-block-margin-left {
  margin-left: 1.25rem;
}

.info-title {
  margin-bottom: 1.25rem;
  font-size: var(--info-title-font-size);
}

.container-footer {
  display: flex;
  align-items: center;
  font-size: 1.125em;
}

.footer-info {
  flex-grow: 1;
}

.footer-link-style {
  color: #326bf6;
  font-size: var(--footer-link-style-font-size);
}

.footer-link-border-right {
  padding-right: 0.3125rem;
  border-right: 0.0625rem solid black;
}

.footer-info-rights {
  font-size: var(--footer-info-rights-font-size);
}

.footer-social a {
  text-decoration: none;
}

.footer-social-icon {
  width: var(--footer-social-icon-width);
  height: var(--footer-social-icon-height);
  margin-right: var(--footer-social-icon-margin-right);
}

@media only screen and (max-width: 1440px) {
  :root {
    --container-margin-left: 0.625rem;
    --logo-height: 10.625rem;
    --logo-width: 10.625rem;
    --logo-font-size: 1.875em;
    --container-content-menu-width: 100%;
    --menu-container-height: 6.25rem;
    --menu-element-margin: 0 0.0625rem 0 0.0625rem;
    --menu-element-style-font-size: 1.5625em;
    --container-content-main-width: 100%;
    --container-content-main-margin-left: 0;
    --header-text-style-font-size: 3.75em;
    --header-jumbotron-style-font-size: 2.5em;
    --email-in-font-size: 1.125em;
    --info-title-font-size: 2.1875em;
    --info-text-font-size: 1.125em;
    --footer-link-style-font-size: 1.25em;
    --footer-info-rights-font-size: 0.9375em;
    --footer-social-icon-width: 2.8125rem;
    --footer-social-icon-height: 2.8125rem;
  }

  .container-content {
    flex-direction: column;
  }

  .container-content-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-container {
    flex-grow: 1;
  }

  .menu-items {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.625rem;
  }

  .menu-element-img {
    background-size: cover;
  }

  .email-in {
    height: 1.5625rem;
    font-size: var(--email-in-font-size);
  }

  .info-text {
    font-size: var(--info-text-font-size);
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    --menu-element-style-font-size: 1.125em;
    --info-block-width: 17.8125rem;
    --info-block-margin: 0.625rem 0 0 0;
  }

  .menu-items {
    justify-content: flex-start;
  }

  .menu-element-img {
    display: none;
  }

  .menu-element-style {
    color: #326bf6;
    text-decoration: underline;
  }

  .menu-elemet-style-border {
    padding-left: 0.625rem;
    border-left: 0.0625rem solid black;
  }

  .main-info-container {
    flex-wrap: wrap;
  }

  .info-block {
    overflow: hidden;
    width: var(--info-block-width);
    margin: var(--info-block-margin);
  }

  .info-block.some {
    order: 1;
  }

  .info-block.new {
    order: 2;
  }

  .info-block.hello {
    order: 3;
  }

  .info-block-margin-left {
    margin-left: 0;
  }

  .container-footer {
    position: relative;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --container-margin-left: 0.625rem;
    --logo-height: 6.875rem;
    --logo-width: 6.875rem;
    --logo-font-size: 1.125em;
    --menu-container-height: 1.25rem;
    --menu-container-padding-top: 0.625rem;
    --menu-element-margin: 0;
    --menu-element-height: 0.625rem;
    --main-header-height: 12.5rem;
    --header-container-text-height: 2.8125rem;
    --header-text-style-margin-left: 0.625rem;
    --header-text-style-font-size: 1.875em;
    --header-jumbotron-height: 5.625rem;
    --header-jumbotron-style-font-size: 1.125em;
    --main-email-block-height: 4.1875rem;
    --email-in-margin: 0 0 0.3125rem 0;
    --email-in-font-size: 0.9375em;
    --info-block-padding: 0.3125rem;
    --info-block-width: 45rem;
    --info-block-margin: 0 0 1.25rem 0;
    --info-title-font-size: 1.4375em;
    --info-text-font-size: 0.875em;
    --footer-link-style-font-size: 0.75em;
    --footer-info-rights-font-size: 0.5625em;
    --footer-social-icon-width: 1.5625rem;
    --footer-social-icon-height: 1.5625rem;
    --footer-social-icon-margin-right: 0.5rem;
  }

  .container-content-menu {
    flex-direction: column-reverse;
  }

  .menu-items {
    justify-content: center;
  }

  .main-email-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
  }

  input.email-in {
    width: 10.625rem;
    height: 1.25rem;
  }

  .footer-social {
    position: absolute;
    top: 2.5rem;
    right: 0;
  }
}
